<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" type="text/css" href="/public/chart.css" />
    <title>Lab402</title>
  </head>
  <body>
    <div id="wrap">
      <div class="chart-box">chart</div>
    </div>
  </body>
</html>
