<style>
    @font-face {
        font-family: '국립박물관문화재단클래식M';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>
<header>
  <div id="second-floor">
    <a id="logo">
<!--      <a href="/" id="logo">-->
      <h1 style="font-family:국립박물관문화재단클래식M">Moggle Labs</h1>
    </a>
<!--    <div class="icon-box">-->
<!--      <i class="fa-brands fa-github"></i>-->
<!--      <i class="fa-solid fa-envelope"></i>-->
<!--      <i class="fa-brands fa-medium"></i>-->
<!--    </div>-->
  </div>

  <div id="first-floor">
    <nav>
      <ul class="nav-items">
        <li>
          <a href="https://moggle-labs.notion.site/Sirius-Web-f7a8547967a140a9a48173f9d101e674" target="_blank" style="font-family:국립박물관문화재단클래식M">About Us</a>
<!--          <a href="/">Lab</a>-->
            <a href="https://moggle-labs.notion.site/Web-Docs-26963cddb3414ed69bed88607528f210" target="_blank" style="font-family:국립박물관문화재단클래식M; margin-left:30px;">Sirius Web Docs</a>
        </li>

        <li class="DashBoard">
<!--          <a href="#">Board</a>-->
        </li>

        <li>
<!--          <a href="/guidline">Team</a>-->
        </li>
      </ul>
    </nav>
<!--    <div id="userPage">-->
<!--      <a href="/login">-->
<!--        <h3 id="log-in">Log-in</h3>-->
<!--      </a>-->
<!--      <a href="/signup">-->
<!--        <h3 id="sign-up">Sign-up</h3>-->
<!--      </a>-->
<!--    </div>-->
  </div>
</header>
<!--<div class="hidden-floor">-->
<!--  <ul class="under-DashBoard">-->
<!--    <li><a class="underbtn1" href="/notice/1">Notice</a></li>-->
<!--    <li><a class="underbtn2" href="#">Q&A</a></li>-->
<!--    <li><a class="underbtn3" href="/board/1">Board</a></li>-->
<!--  </ul>-->
<!--</div>-->
