<header>
  <div id="second-floor">
    <a href="/" id="logo">
      <h2>Lab402</h2>
    </a>

    <div id="userPage">
      <a href="/logout" class="logout">logout</a>

      <h3 id="username">사용자 : <%=사용자.email%></h3>
      <a href="/mypage">
        <h3 id="my-page">my page</h3>
      </a>
    </div>
  </div>
  <div id="first-floor">
    <nav>
      <ul class="nav-items">
        <li>
          <a href="/">Home</a>
        </li>

        <li class="DashBoard">
          <a href="#">DashBoard</a>
        </li>

        <li>
          <a href="/guidline">Guideline</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="hidden-floor">
  <ul class="under-DashBoard">
    <li><a href="/notice/1">Notice</a></li>
    <li><a href="#">Q&A</a></li>
    <li><a href="/board/1">Board</a></li>
  </ul>
</div>
