<header>
  <div id="second-floor">
    <a href="/" id="logo">
      <h2>Lab402</h2>
    </a>
    <div id="userPage">
      <a href="/login">
        <h3 id="log-in">log-in</h3>
      </a>

      <a href="/mypage">
        <h3 id="my-page">my page</h3>
      </a>
    </div>
  </div>
  <div id="first-floor">
    <nav>
      <ul class="nav-items">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/notice">Notice</a>
        </li>
        <li>
          <a href="/board">Board</a>
        </li>
        <li>
          <a href="/guidline">Guideline</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
