<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" type="text/css" href="/public/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/home.css" />
    <title>Lab402</title>
    <script src="../public/header.js" defer></script>
    <script
      src="https://kit.fontawesome.com/c3d18ec51c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%if(사용자 === undefined){ %> <%- include('header.html') %> <%}%>
    <%if(사용자!==undefined){%> <%- include('header-login.html') %> <%}%>
    <div id="body">
      <div id="wrap">
        <section class="intro">
          <div class="intro-icon">
            <span>|</span>
          </div>
          <div>
          <h2>we make gradients for all.</h3>
          <h2>values for you.</h3>
          </div>
        </section>

        <section class="article-box first-section">
          <article id="first_intro">
            <p>하이엔드 자산관리 전략에 기반한 나만의 포트폴리오.</p>
            <p>누구나 직접 편하게 투자할 수 있는 금융 환경을 만들어갑니다.</p>
            <p>
              생각만으로 검증부터 투자까지 전부 해볼 수 있는 자유로운 공간을
              누려보세요
            </p>
            <div class="article-bottom">
              <h4><a href="/sirius">Sirius</a></h4>
              <i class="fa-solid fa-arrow-right"></i>
              <h4>Terrarium</h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </article>
        </section>
        <section class="article-box second-section">
          <article id="first_intro">
            <p>자산관리의 정석을 찾아 떠나는 모글랩스의 여정.</p>
            <p>누구나 즐겁게 동행하실 수 있게 제대로 준비했습니다.</p>
            <p>이제 시작일 뿐입니다. 저희와 함께 떠나보시죠!</p>
            <div class="article-bottom">
              <h4>Article</h4>
              <i class="fa-solid fa-arrow-right"></i>
              <h4>Medium</h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </article>
        </section>
        <section class="article-box third-section">
          <article id="first_intro">
            <p>모글랩스를 통해 저희가 꿈꾸는 자산관리, 모두가 원할 자산관리를 그려나가고 있습니다.</p>
            <p>저희가 만들고자 하는 서비스의 종착지가 궁금하시다면 Roadmap을,</p>
            <p>저희가 하는 일에 관심이 있으시다면 Team을 확인해 주세요.</p>
            <div class="article-bottom">
              <h4>Article</h4>
              <i class="fa-solid fa-arrow-right"></i>
              <h4>Medium</h4>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </article>
        </section>
      </div>
    </div>

    <%- include('footer.html') %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  </body>
</html>
