<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="../public/loading.css" />
  </head>
  <body>
    <div class="logo-area">
      <meta http-equiv="refresh" content="30;url=/chart/<%= 현재개인 %>"></meta>
<!--      <img class="loader" src="../img/loading.png" />-->
      <br/>
      <h2 style="font-weight:normal; color:rgb(80,80,80); font-size:22px;">
<!--      전략 적용 후 대략 8~9번 정도 깜박이면 계산이 완료됩니다!<br/>-->
<!--      요청이 많을 경우 시간이 오래 걸릴 수 있습니다.<br/>-->
<!--      너무 오래 걸릴 경우 새로고침 후 다시 시도 부탁드립니다.-->
        현재 1차 베타테스트가 종료되었습니다.<br>
        이용해주셔서 감사드립니다!<br>
        곧 아래의 기능들을 보완하여 다시 찾아올 예정입니다.<br><br>
        1. 팩터 개수 추가 <br>
        2. 전략 결과값 비교 <br>
        3. 팩터 계산식 세분화
      </h2>
    </div>
  </body>
</html>
