<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="../public/loading.css" />
  </head>
  <body>
    <div class="logo-area">
      <meta http-equiv="refresh" content="2;url=/chart/<%= 현재개인 %>"></meta>
      <img class="loader" src="img/loading.png" />
      <%= 현재개인%>
    </div>
  </body>
</html>
