/* Section */
section {
  margin-left: 25%;
  width: 50%;
}
#board-section {
  min-width: 680px;
}
article {
  margin: 10px;
  padding: 25px;
  background-color: white;
}
article > h1 {
  padding: 0 0 10px 0;
}

section > article > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > article > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}

#page-div {
  width: 610px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.page_nums li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.page_nums li > a {
  color: rgba(0, 0, 0, 0.5);
}

.page_nums li > a:hover {
  color: rgba(0, 64, 128, 0.8);
}

#lowContents {
  padding: 10px;
  align-items: center;
}

.writing {
  color: rgba(0, 0, 0, 0.6);
}
.writing:hover {
  color: rgba(0, 0, 0, 0.9);
}
