.chart-box {
  background-color: aqua;
  width: 400px;
  height: 300px;
}
#wrap {
  margin-top: 25px;
  width: 1300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.big-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* chart-box */
.backtesting-chart-box {
  width: 1200px;
  position: relative;
  /*left: -100px;*/
}

/* table */
table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  padding-right: 10px;
}
.percent-box {
  width: 600px;
  margin-left:20px;
  font-size: 17px;
}
/* 벡테스팅 테이블 */
.parcent-table td:nth-child(1) {
  width: 180px;
}
.parcent-table td:nth-child(1) {
  border-right: 1px solid black;
  margin-left: 10px;
}
.parcent-table td:nth-child(2) {
  padding-left: 20px;
}
/* 포트폴리오 테이블 */
.pfo-box {
  width: 1200px;
  border: 1px solid black;
  font-size: 14px;
}
.pfo-box td {
  border-right: 1px solid black;
  font-size: 16px;
}
button {
  position: relative;
  background-color: rgb(75, 131, 75);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: rgb(245, 239, 230);
  margin-top: 20px;
  right:-525px;
}

button:hover {
  background-color: darkgreen;
}
