/* Section */
section {
  margin-left: 25%;
  width: 50%;
}
article {
  margin: 10px;
  padding: 25px;
  background-color: white;
}
article > h1 {
  padding: 0 0 10px 0;
}

section > title_ > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > title_ > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}

section > article > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > article > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}
