/* Section */

article > h1 {
  padding: 0 0 10px 0;
}

section > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}

section > article > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > article > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}

p {
  font-size: 13px;
}

article {
  height: 200px;
}

section {
  width: 600px;
  margin-bottom: 60px;
}
.intro {
  margin-bottom: 50px;
}
.intro div {
  float: left;
  margin-bottom: 80px;
}
.intro-icon {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
}

.intro span {
  font-size: 70px;
}

.first-section {
  clear: both;
  margin-left: calc(50% - 450px);
}
.second-section {
  margin-left: calc(50% - 150px);
}
.third-section {
  margin-left: calc(50% - 450px);
}

.article-bottom {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 30px;
}
.article-bottom i {
  margin-right: 50px;
}

@font-face {
  font-family: '국립박물관문화재단클래식M';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}