/* Section */
article > h1 {
  padding: 0 0 10px 0;
}

section > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}

section > article > h1 > a {
  color: rgba(0, 0, 0, 0.6);
}

section > article > h1 > a:hover {
  color: rgba(0, 0, 0, 0.9);
}
