img.loader {
  animation: rotate_image 1.5s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  right: calc(50% - 75px);
  top: calc(50% - 75px);
}
